*{
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
}
img{
    width: 200px;
    height: 200px;
}
.about-us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "michael glenn reno";
}
.michael{
    grid-area: michael;
}
.glenn{
    grid-area: glenn;
}
.reno{
    grid-area: reno;
}
a{
    text-decoration: none;
    color: white;
    
}
.home{
    
    margin-right: 30px;
}
#header-text{
    padding-top: 50px;
}
#verdict{
    font-size:50px;
}
li{
    padding-top: 30px;
}
li h2{
    color: white;
}
ul{
    list-style-type: none;
}